Repository ParkNow914/realcredmais: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,html,css,scss}": [
    "prettier --write"
  ]
}

refactor: move inline styles to external CSS files and improve styling
  package-lock.json
  package.json
Due: prettier --write

fix: update husky pre-commit hook to remove deprecated lines
  .husky/pre-commit
Due: none

fix: atualizar configurações de segurança e ambiente
  .env.example
  .gitignore
Due: none

feat: add netlify.toml and update .gitignore
  .env.example
  .gitignore
  netlify.toml
Due: none

fix: correct netlify.toml syntax and structure
  netlify.toml
Due: none

fix: add build:production script to package.json
  package.json
Due: prettier --write

fix: update Node.js to v20 and fix husky configuration
  netlify.toml
  package-lock.json
  package.json
Due: prettier --write

fix: corrige referências de imagens e adiciona scripts de manutenção
  artigos/como-sair-das-dividas-2025.html
  artigos/emprestimo-consignado-vs-credito-pessoal.html
  artigos/saque-aniversario-fgts-2025.html
  index.html
  netlify.toml
  package-lock.json
  package.json
  public/_redirects
  scripts/copy-assets.js
  scripts/fix-image-references.js
  scripts/fix-paths.js
  sw.js
  vite.config.js
Due: eslint --fix, prettier --write

fix: update build process and add ESLint config
  package.json
  scripts/copy-assets.js
  scripts/fix-paths.js
Due: eslint --fix, prettier --write

chore: update package dependencies and add eslint config
  eslint.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Atualização de estilos e melhoria na estrutura de artigos
  netlify.toml.bak
Due: none

fix: remove unnecessary preload for logo image to resolve browser warning
  index.html
Due: prettier --write

fix: remove red effects from form inputs and fix form submission
  js/form-handler.js
  public/css/form-styles.css
  styles.css
Due: eslint --fix, prettier --write

fix: remove red effects from form inputs and fix form submission
  js/form-handler.js
Due: eslint --fix, prettier --write

feat: add form styles and update form handling
  css/form-styles.css
  index.html
  js/form-handler.js
  js/form-masks.js
  scripts.js
Due: eslint --fix, prettier --write

feat: add form styles and update form handling
  index.html
Due: prettier --write

Fix CORS policy error by adding 127.0.0.1 origin
  server.js
Due: eslint --fix, prettier --write

Fix CORS policy error by updating proxy and allowed origins
  server.js
  vite.config.js
Due: eslint --fix, prettier --write

Ajuste da cor do header para azul marinho para combinar com o fundo da logo
  styles.css
Due: prettier --write

Configuração completa de SMTP para formulários - Integração com servidor backend para envio de emails
  .env.example
  SMTP_SETUP.md
  js/form-handler.js
  server.js
Due: eslint --fix, prettier --write

Ajuste final da configuração SMTP - Compatibilidade com variáveis de ambiente existentes
  .env.example
  SMTP_SETUP.md
  server.js
Due: eslint --fix, prettier --write

Correção completa de formulários - Máscaras automáticas, validação em tempo real e feedback visual
  js/form-handler.js
  js/form-masks.js
  styles.css
Due: eslint --fix, prettier --write

Correção: Formulários agora enviam dados reais para o backend em vez de simular
  js/contact-form.js
  js/form-handler.js
Due: eslint --fix, prettier --write

Correção completa das máscaras e validações dos formulários - CPF, telefone e valores monetários
  js/form-handler.js
  js/form-masks.js
Due: eslint --fix, prettier --write

chore: salvar alterações pendentes (2025-08-14 16:01 -03)
  artigos/base.html
  index.html
  manifest.json
  public/artigos/base.html
  styles.css
Due: prettier --write

chore: add .gitattributes for consistent EOL
  .gitattributes
Due: none

chore: add .editorconfig for editor consistency
  .editorconfig
Due: none

style: format code with Prettier
  .prettierignore
  .prettierrc
  artigos/como-sair-das-dividas-2025.html
  artigos/saque-aniversario-fgts-2025.html
  convert-to-webp.js
  index.html
  js/article.js
  js/contact-form.js
  js/form-handler.js
  js/form-masks.js
  manifest.json
  privacy-policy.html
  public/_routes.json
  public/artigos/como-sair-das-dividas-2025.html
  public/artigos/saque-aniversario-fgts-2025.html
  public/sw.js
  scripts.js
  scripts/copy-assets.js
  scripts/copy-js.js
  scripts/fix-image-references.js
  scripts/fix-paths.js
  server.js
  styles.css
  styles/article.css
  styles/faq.css
  sw.js
  terms-of-use.html
  vite.config.js
Due: eslint --fix, prettier --write

feat(home): load FAQ styles and script; add loan comparator styles; align FAQ CSS selectors
  artigos/base.html
  artigos/emprestimo-consignado-vs-credito-pessoal.html
  index.html
  public/artigos/base.html
  styles.css
  styles/faq.css
Due: prettier --write

Sync: commit local changes before replacing remote (automated)
  index.html
  manifest.json
  offline.html
  public/sw.js
  scripts.js
  server.js
  sitemap.xml
  styles.css
  styles/faq.css
  sw.js
Due: eslint --fix, prettier --write

fix(css): prevent horizontal scrollbar by hiding overflow-x on html/body
  styles.css
Due: prettier --write

feat(chat): merge WhatsApp into chatbot UI to avoid duplicate floating icons
  scripts.js
  styles.css
Due: eslint --fix, prettier --write

style(chat): replace emoji with SVG icons for chat and WhatsApp; add styles for icons
  scripts.js
  styles.css
Due: eslint --fix, prettier --write

fix(whatsapp): replace emoji fallback with SVG icon for floating whatsapp widget
  scripts.js
Due: eslint --fix, prettier --write
