Repository ParkNow914/realcredmais: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,html,css,scss}": [
    "prettier --write"
  ]
}

fix(whatsapp): avoid duplicate icons by hiding chatbot toggle and observing late chatbot insertion
  scripts.js
Due: eslint --fix, prettier --write

fix(responsive): make comparator and blog sections mobile-friendly (stack comparator rows, hide blog overflow)
  styles.css
Due: prettier --write

fix(responsive): polish mobile styles for blog cards and comparator rows (prevent overflow, add card styling)
  styles.css
Due: prettier --write

fix(chatbot): restore visibility of chatbot toggle (do not hide toggle; ensure shown when attaching WA inline)
  scripts.js
Due: eslint --fix, prettier --write

fix(whatsapp): prevent duplicate WhatsApp icons by guarding widget/inline creation and removing floating widget when chatbot appears
  scripts.js
Due: eslint --fix, prettier --write

feat(chatbot): integrate ChatGPT via server proxy (/api/chat), add client logic and docs; add rate limiting for /api/chat
  .env.example
  README.md
  scripts.js
  server.js
  styles.css
Due: eslint --fix, prettier --write

feat(chat): add streaming support, persistence, health check, logging, tests and UI banner; add jest/supertest dev deps
  package.json
  scripts.js
  server.js
  test/chat.test.js
Due: eslint --fix, prettier --write

feat(chat): add metrics DB, admin metrics route, SSE-friendly stream plumbing, fallback handling, and Playwright screenshot script
  db/metrics.js
  test/screenshot.js
Due: eslint --fix, prettier --write

fix(chat): make conversation load/render defensive to avoid non-iterable errors from corrupt/legacy localStorage
  package.json
  scripts.js
  server.js
  test/chat.test.js
  test/screenshot.js
Due: eslint --fix, prettier --write

corrige: permitir cdnjs/Google Fonts no CSP; adicionar fallback no service worker (offline/504)
  netlify.toml
  sw.js
Due: eslint --fix, prettier --write

feat: atualizar conteudo financeiro para 2026
  CHANGELOG.md
  artigos/como-sair-das-dividas-2026.html
  artigos/emprestimo-consignado-vs-credito-pessoal.html
  artigos/saque-aniversario-fgts-2026.html
  index.html
  js/form-handler.js
  netlify.toml
  privacy-policy.html
  public/_redirects
  scripts.js
  scripts/fix-image-references.js
  sitemap.xml
  styles.css
  styles/faq.css
  terms-of-use.html
Due: eslint --fix, prettier --write

refactor: melhorias de segurança, LGPD, qualidade e limpeza do projeto
  .gitignore
  README.md
  db/metrics.js
  eslint.config.js
  functions/server.js
  js/form-handler.js
  js/form-masks.js
  js/offline.js
  manifest.json
  package-lock.json
  package.json
  scripts.js
  scripts/clean-public.js
  server.js
  sw.js
  utils/logger.js
  vite.config.js
Due: eslint --fix, prettier --write

fix(sw): corrige violação de CSP e carregamento de fontes/ícones no Service Worker
  sw.js
Due: eslint --fix, prettier --write

fix(vite): aplica drop de console no build independente de NODE_ENV
  vite.config.js
Due: eslint --fix, prettier --write

ci(cloudflare): adiciona wrangler.toml para o Cloudflare Workers Builds
  wrangler.toml
Due: none

Revert "ci(cloudflare): adiciona wrangler.toml para o Cloudflare Workers Builds"
  wrangler.toml
Due: none
